:root{
    --cor-btn-1-value: #208AEE;
    --cor-btn-2-value: #08559C;
    --cor-title-value: black;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 599px) {
    .header{
        width: 100vw;
        min-width: 300px;
        height: 20vh;
        min-height: 60px;
        display: flex;
        margin: auto;
    }
    .banner_cotainer{
        width: 80vw;
        min-width: 240px;
        height: auto;
        min-height: 50px;
        display: flex;
        margin: auto;
        align-items: center;
        flex-direction: row;
    }
    .logo_img{
        width: 20vw;
        min-width: 70px;
        height: calc(width/2);
        min-height: 35px;
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    .title{
        font-size: 2rem;
        margin: auto;
        text-align: center;
    }
    .main_content{
        display: flex;
    }
    .content_container{
        width: 100vw;
        min-width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    .inputtext{
        width: 70vw;
        min-width: 280px;
        height: auto;
        min-height: 400px;
        margin: auto;
        margin-bottom: 1rem;
        resize: none;
        text-transform: uppercase;
    }
    .outputtext{
        width: 70vw;
        min-width: 280px;
        height: auto;
        min-height: 400px;
        margin: auto;
        margin-bottom: 1rem;
        resize: none;
        text-transform: uppercase;
    }
    .alert{
        width: 100vw;
        min-width: 300px;
        height: 10vh;
        min-height: 50px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: auto;
    }
    .alert_title{
        font-size: 1rem;
        margin: auto -0rem;
        text-align: center;
        font-weight: bolder;
    }
    .alert_pic{
        width: 5vw;
        min-width: 16px;
        height: calc(width/2);
        min-height: 8px;
    }
    .buttons_container{
        width: 100vw;
        min-width: 300px;
        height: 25vh;
        min-height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .button{
        width: 50vw;
        min-width: 150px;
        height: 10vh;
        min-height: 40px;
        margin: 0.3rem auto;
        background-color: var(--cor-btn-1-value);
        color: white;
        text-align: center;
        font-weight: 300;
        font-size: 1rem;
        border: none;
    }
    .button:hover{
        background-color: var(--cor-btn-2-value);
        box-shadow: 0.3rem 0.3rem 0.3rem var(--cor-btn-1-value);
        font-weight: 500;
        font-size: 1.3rem;
        transition: 1s;
    }
    .developer{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100vw;
        min-width: 300px;
        height: auto;
        min-height: fit-content;
    }
    .developer_container{
        width: 50vw;
        min-width: 170px;
        height: 10vh;
        min-height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    .one{
        width: 5vw;
        min-width: 40px;
        height: 5vh;
        min-height: 40px;
        margin: auto;
        align-items: center;
    }
    .developer_rights{
        width: 100vw;
        min-width: 300px;
        height: 10vh;
        min-height: fit-content;
        background-color: lightgrey;
        margin: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .dev{
        text-align: center;
        font-size: 1rem;
        color: black;
        margin: auto;

    }
}
@media (min-width: 600px) {
    .header{
        width: 100vw;
        max-width: 1000px;
        height: 20vh;
        max-height: 200px;
        display: flex;
        margin: auto;
    }
    .banner_cotainer{
        width: 80vw;
        max-width: 800px;
        height: auto;
        max-height: 200px;
        display: flex;
        margin: auto;
        align-items: center;
        flex-direction: row;
    }
    .logo_img{
        width: 20vw;
        max-width: 160px;
        height: calc(width/2);
        max-height: 80px;
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    .title{
        font-size: 2rem;
        margin: auto;
        text-align: center;
    }
    .main_content{
        display: flex;
    }
    .content_container{
        width: 80vw;
        max-width: 800px;
        height: 50vh;
        max-height: 700px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    .inputtext{
        width: 30vw;
        max-width: 400px;
        height: 50vh;
        max-height: 700px;
        margin: auto;
        margin-bottom: 1rem;
        resize: none;
        background-color: transparent;
        text-transform: uppercase;

    }
    .outputtext{
        width: 30vw;
        max-width: 400px;
        height: 50vh;
        max-height: 700px;
        margin: auto;
        margin-bottom: 1rem;
        resize: none;
        background-color: transparent;
        text-transform: uppercase;
    }
    .alert{
        width: 40vw;
        max-width: 400px;
        height: 10vh;
        max-height: 200px;
        display: flex;
        flex-direction: row-reverse;
        margin: 1rem auto;
    }
    .alert_title{
        font-size: 1rem;
        margin: auto;
        text-align: center;
        font-weight: bolder;
        display: flex;
    }
    .alert_pic{
        width: 5vw;
        max-width: 50px;
        height: calc(width/2);
        min-height: 25px;
        display: flex;
        margin: auto;
        
    }
    .buttons_container{
        width: 50vw;
        max-width: 550px;
        height: 20vh;
        max-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .button{
        width: 20vw;
        max-width: 250px;
        height: 10vh;
        max-height: 100px;
        margin: 0.3rem auto;
        background-color: var(--cor-btn-1-value);
        color: white;
        text-align: center;
        font-weight: 300;
        font-size: 1rem;
        border: none;
        align-items: center;
    }
    .button:hover{
        background-color: var(--cor-btn-2-value);
        box-shadow: 0.3rem 0.3rem 0.3rem var(--cor-btn-1-value);
        font-weight: 500;
        font-size: 1.3rem;
        transition: 1s;
    }
    .developer{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100vw;
        max-width: 1000px;
        height: 20vh;
        min-height: 200px;
    }
    .developer_container{
        width: 50vw;
        max-width: 500px;
        height: 20vh;
        max-height: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    .one{
        width: 10vw;
        max-width: 50px;
        height: 10vh;
        max-height: 50px;
        margin: auto;
        align-items: center;
    }
    .developer_rights{
        width: 100vw;
        max-width: 1000px;
        height: 10vh;
        max-height: fit-content;
        margin: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .dev{
        text-align: center;
        font-size: 1rem;
        color: black;
        margin: auto;

    }
}