#algoContainer{
    width: 90%;
    min-width: 270px;
    max-width: 900px;
    height: auto;
    min-height: 30px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12.5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    border: transparent;
}
.subtitle{
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}
#algoSelector{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    border: transparent;
    border-radius: 12.5px;
    text-align: center;
    cursor: pointer;
}
.run_btn{
    margin: auto;
    width: auto;
    min-width: 100px;
    max-width: 150px;
    height: auto;
    min-height: 30px;
    max-height: 60px;
    cursor: pointer;
    padding: 1%;
    background-color: rgba(183, 56, 242, 0.5);
    color: white;
    font-size: 0.9rem;
    border: solid 0.1rem white;
    border-radius: 12.5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.run_btn:hover{
    background-color: rgba(183, 56, 242, 0.8);
    box-shadow: 0 0 10px violet;
}