/*Centro de notificaciones y mensajes*/
.msg_container{
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    height: auto;
    min-height: 6rem;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.msg{
    color: #fff;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    margin: 0.5rem auto;
}
.msg>a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.advertise{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    margin: auto;
}
.advertise:hover{
    transition:ease-in-out 0.5s;
    color: violet;
}
/*boton donacion solamente*/
.btn_style_a{
    width: auto;
    min-width: 70px;
    max-width: 140px;
    aspect-ratio: 16/9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    background-color: rgba(183, 56, 242, 0.5);
    color: white;
    font-size: 0.9rem;
    border: solid 0.1rem white;
    text-decoration: none;
    border-radius: 12.5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

}
.btn_style_a:hover{
    background-color: rgba(183, 56, 242, 0.8);
    box-shadow: 0 0 10px violet;
}