#main{
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.bannerContainer{
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    height: auto;
    min-height: 3rem;
    max-height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.5rem auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.jarsoftPic{
    display: none;
}
.title{
    color: #fff;
}
#textContainer{
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem auto;
    perspective: 600px;
    transition: transform 0.5s;
}
#inputText, #outputText{
    width: 90%;
    min-width: 270px;
    max-width: 900px;
    display: block;
    backface-visibility: hidden;
    resize: none;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    border-color: transparent;
    border-radius: 12.5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
/*fonts*/
    font-size: 1rem;
    color: #fff;
    text-align: justify;
    text-indent: 1rem;
    text-transform: uppercase;
}

#outputText{
    transform: rotateY(180deg);
    position: absolute;
}
.encripted #inputText{
    transform: rotateY(180deg);
}
.encripted #outputText{
    transform: rotateY(0deg);
    text-align: left;
    transform: scaleX(-1);
}
.encripted{
    transform: rotateY(180deg);
}
.btnContainer{
    width: 100%;
    min-width: 300px;
    max-width: 100px;
    margin: 0.5rem auto;
    height: auto;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}